<h1>User Profile</h1>
<h1>current_user_id: <%=@current_user_id%></h1>
<p>IP: <%= @user_session.ip_address %></p>
<p>cidade: <%= @user_session.cidade %></p>
<p>estado: <%= @user_session.estado %></p>
<p>pais: <%= @user_session.pais %></p>
<p>@user_session: <%= @user_session %></p>


<%= form_tag 'auth/logout', method: :post do %>
  <%= submit_tag 'Logout' %>
<% end %>