<%= simple_form_for user, html: { class: "users form" } do |f| %>
  <% if user.errors.any? %>
    <div class="error-message">
      <%= user.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :name, input_html: { autofocus: true } %>
  <%= f.input :email, input_html: { autofocus: true } %>
  <%= f.input :password, input_html: { autofocus: true } %>
  <%= f.submit class: "btn btn--secondary" %>
<% end %>